.btn {
    svg{
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    &.btn-light{
        color: $color-secondary;
        font-weight: 500;
    }
    &-close{
        opacity: 1;
        background-image: url("../images/close.svg");
        background-size: contain;
    }
}