.hero-header{
    h1,h2,h3,h4,h5,h6,p{
        font-family: 'Open Sans', sans-serif;
    }
    p{
        line-height: 20px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    color: $color-white;
    overflow: auto;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xl){
        height: calc(100vh - 130px);
    }
    @include media-breakpoint-down(lg){
        height: calc(100vh - 220px);
    }
    &__inner{
        max-width: 80%;
    }
    &__content{
        padding: 30px 0;
        h1{
            font-size: 72px;
            font-weight: bold;
            padding: 12px 0;
            border-top: 6px solid $color-white;
            border-bottom: 6px solid $color-white;
            @include media-breakpoint-down(xl)
        }
    }
    .arrow-next-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 16px;
        top: calc(50vh - 50px);
        width: 60px;
        height: 60px;
    }
}