.modal{
    @include media-breakpoint-down(xl){
        padding-left: 0;
    }
    .modal-dialog{
        border-radius: 15px;
        overflow: hidden;
    }
    .modal-lg{
        max-width: 80%;
        @include media-breakpoint-down(xl){
            max-width: 95%;
        }
    }
    .modal-header{
        background-color: $secondary;
    }
    .btn-close{
        filter: brightness(0) invert(1);
    }
    .modal-body{
        padding: 0;
        .nav-tabs{
            background: $bg-gray-light;
            padding: 15px;
            .nav-link{
                    background: $bg-primary;
                    border-radius: 5px;
                    color: $color-white;
                    border: none;
                    margin: 5px;
                    padding: 16px;
                    &.active{
                        background: $bg-secondary;
                    }
            }
        }
    }
    
}