.video-card{
    iframe{
        width: 100%;
        height: calc(100vh - 180px);
        @include media-breakpoint-down(xxl){
            width: 80%;
        }
        @include media-breakpoint-down(lg){
            width: 90%;
        }

    }
}